<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do List using Node & Express</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <style>
        .container{
            display: grid;
            width: 50vw;
            height: auto;
            border: 1px solid rgb(216, 211, 211);
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">To - Do List</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <br>
      <div class="container">
            <form action="/add" method="post">
                <div class="mb-3">
                    <br>
                <label for="exampleInputEmail1" class="form-label">Enter Note</label>
                <input type="text" class="form-control" name="note" placeholder="Enter Your Note" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
                <br>
            
          </div>
          <br>
          <br>

          <div class="display container">
              
              <div class="form-check">
                  <h3> <center> Your Notes </center></h3>
                  <br>
                  <% for (const  item of task) { %>
                  <li type="none"> 
                      <input class="form-check-input" type="checkbox" value="<%=item%>" id="checks" name="check"> 
                      <%=item%>
                      &nbsp;&nbsp;&nbsp; <button type="submit" class="btn btn-secondary" formaction="/deleteNote">Delete</button>
                  </li>
                  <% } %>
                </div>
                <br>
                <br>
                <button formaction="/removeNotes" type="submit" id="top"> Remove </button>
                <br>
                <br>
                <h3><center>  Completed task </center></h3>
                <% for(var i = 0; i < complete.length; i++){ %>
                  <li><input type="checkbox" checked><%= complete[i] %> </li>
                <% } %>
          <br>
          </form>
    </div>
  </body>
</html>